{% include "header.html" %}
<form action="/{{ path }}/{{ pasta.id_as_animals() }}" method="POST" enctype="multipart/form-data">
    <h4>
        Editing upload '{{ pasta.id_as_animals() }}'
    </h4>
    <label>Content</label>
    <br>
    <textarea style="width: 100%; min-height: 100px; font-family: monospace;" name="content" id="content" {% if status
        !="incorrect" %} autofocus {% endif %}>{{ pasta.content_escaped() }}</textarea>
    <br>
    <div>
        {% if pasta.readonly || pasta.encrypt_server %}
        <div style="float: left; height: 90px;">
            <label for="password">Re-enter Password <sup><a href="/guide#password">﹖</a></sup></label><br>
            <input {% if status=="incorrect" %} autofocus {% endif %} style="width: 130px; height: 28px;"
                type="password" id="password" name="password" autocomplete="off" />
            {% if status == "incorrect" %}
            <p>
                Incorrect password.
            </p>
            {% endif %}
        </div>
        {% endif %}


        <div style="float: right; height: 90px; justify-content: end;">
            <label for="password_field"></label><br>
            <input style="width: 140px; float: right; background-color:
    #2975D2; color: white;" id="submit-button" type="submit" value="Save" />
            </td>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
</form>
{% include "footer.html" %}