{% include "header.html" %}
<a id="options">
  <h2>Options</h2>
</a>

<a id="expiration">
  <h3>Expiration</h3>
</a>
<p>
  Use the expiration dropdown to choose how long you want your upload to exist.
  When the selected time has expired, it will be removed from the server.
</p>

{% if args.enable_burn_after %}
<a id="burn-after">
  <h3>Burn After</h3>
</a>
<p>
  Use the burn after dropdown to set a limit on how many times your data can be
  accessed before it will be removed from the server.
</p>
{%- endif %}

{% if args.highlightsyntax %}
<a id="syntax">
  <h3>Syntax Highlighting</h3>
</a>
<p>
  Use the syntax highlighting dropdown to enable syntax highlighting for your upload, making it easier to read.
  You may choose to have the syntax highlighting done by your browser, which
  will also recognise the language automatically. You can select server-side
  highlighting, where you need to select the language yourself, but the code
  will get highlighting without javascript.
</p>
{%- endif %}

<a id="password">
  <h3>Password</h3>
</a>
<p>
  Use the password field to set a password for your upload. This will encrypt
  your data while stored on our server with your password, and you will need to
  enter the password to access (in case of private and secret uploads) or to
  modify (in case of read-only uploads). Your password is encrypted, and in case
  of secret uploads, we never even see it.
</p>

<a id="privacy">
  <h3>Privacy</h3>
</a>
<p>
  Use this dropdown to select the level of protection your upload needs. Use
  lower privacy levels if you or your organisation host MicroBin, and higher
  privacy levels if you are using a public MicroBin service.
</p>
<h4>Level 1: Public</h4>
<p>This privacy level allows everyone to find, see, modify and remove your upload.</p>
<h4>Level 2: Unlisted (recommended)</h4>
<p>Unlisted uploads cannot be found unless someone knows its unique, random
  identifier. If someone knows this identifier, they can see, modify and remove
  the upload.</p>
<h4>Level 3: Read-only</h4>
<p>With this privacy setting, the upload cannot be found unless someone knows
  its unique, random identifier. If someone knows this identifier, they can see
  the contents but cannot modify or remove it without entering the password of
  the upload.
</p>
<h4>Level 4: Private</h4>
<p>With this privacy setting, the upload cannot be found unless someone knows
  its unique, random identifier. If someone knows this identifier, they cannot
  see, modify or remove it without entering the password of the upload. Your
  upload and its attachments are encrypted, so they are stored safely.</p>
<h4>Level 5: Secret</h4>
<p>With this privacy setting, the upload cannot be found unless someone knows
  its unique, random identifier. If someone knows this identifier, they cannot
  see, modify or remove it without entering the password of the upload. Your
  browser sends us an already encrypted version, so the unencrypted data and
  password never even leave your device. This option requires you to enter your
  password many times when accessing your data, but is extremely safe.</p>


{% include "footer.html" %}