<html>
<head>
    <title>MicroBin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body style="max-width: 720px; margin: auto; padding-left:0.5rem; padding-right:0.5rem; line-height: 1.5; font-size: 1.1em; font-family: sans-serif">
<br>

<b style="margin-right: 0.5rem">
    MicroBin
</b>
|
<a href="/" style="margin-right: 0.5rem; margin-left: 0.5rem">New Pasta</a>
|
<a href="/pastalist" style="margin-right: 0.5rem; margin-left: 0.5rem">Pasta List</a>
|
<a href="https://github.com/szabodanika/microbin" style="margin-right: 0.5rem; margin-left: 0.5rem">GitHub</a>

<hr>