<!DOCTYPE html>
<html>

<head>
    {% if args.title.as_ref().is_none() %}
    <title>MicroBin</title>
    {%- else %}
    <title>{{ args.title.as_ref().unwrap() }}</title>
    {%- endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="{{ args.public_path_as_str()    }}/static/favicon.ico">

    <script type="text/javascript" src="{{ args.public_path_as_str() }}/static/aes.js"></script>
    {% if !args.pure_html %} {% if args.custom_css.as_ref().is_none() ||
    args.custom_css.as_ref().unwrap() == "" %}
    <link rel="stylesheet" href="{{ args.public_path_as_str() }}/static/water.css">
    {%- else %}
    <link rel="stylesheet" href="{{ args.custom_css.as_ref().unwrap() }}">
    {%- endif %} {%- endif %}

</head>
{% if args.wide %}

<body style="max-width: 1080px; margin: auto; padding-left:0.5rem;
padding-right:0.5rem; line-height: 1.5; font-size: 1.1em; padding-top: 2rem;">
    {%- else %}

    <body style=" max-width: 800px; margin: auto; padding-left:0.5rem;
    padding-right:0.5rem; padding-top: 2rem; line-height: 1.5; font-size: 1.1em; ">
        {%- endif %}
        <br>
        {% if !args.hide_header %}

        <div id="nav" style="margin-bottom: 1rem;">
            <b style="margin-right: 0.5rem">
                {% if !args.hide_logo %}
                <!-- <i><span style="font-size:2.2rem;
                margin-right:1rem">μ</span></i> -->
                <a href="/"><img width=100 style="margin-bottom: -6px; margin-right:
                0.5rem;" src="{{ args.public_path_as_str() }}/static/logo.png"></a>
                {%- endif %} {% if args.title.as_ref().is_none() %} {%- else %} {{
                args.title.as_ref().unwrap() }} {%- endif %}
            </b>

            <a href="{{ args.public_path_as_str() }}/" style="margin-right: 0.5rem;
            margin-left: 0.5rem">New</a>

            {% if !args.no_listing %}
            <a href="{{ args.public_path_as_str() }}/list" style="margin-right: 0.5rem; margin-left: 0.5rem">List</a>
            {%- endif %}

            <a href="{{ args.public_path_as_str() }}/guide" style="margin-right: 0.5rem;
            margin-left: 0.5rem">Guide</a>


        </div>

        <!-- <hr> -->

        {%- endif %}