{% include "header.html" %}

<h2>Welcome to MicroBin</h2>
<div style="height: 200px;">
  <div style="float: left">
    <h4>Links</h4>
    <a href="https://microbin.eu/documentation" style="margin-right: 1rem">Documentation and Help</a>
    <br>
    <a href="https://github.com/szabodanika/microbin" style="margin-right: 1rem">Source Code</a>
    <br>
    <a href="https://github.com/szabodanika/microbin/issues" style="margin-right: 1rem">Feedback</a>
    <br>
    <a href="https://microbin.eu/donate">Donate and Sponsor</a>
  </div>

  <div style="float: right">
    <h4>Info</h4>
    <table style="width: 400px">
      <tr>
        <td><b>Version</b></td>
        <td>{{version_string}} </td>
      </tr>
      <tr>
        <td><b>Status</b></td>
        <td>{{status}} </td>
      </tr>
      <tr>
        <td><b>Pastas</b></td>
        <td>{{pastas.len()}} </td>
      </tr>
    </table>
  </div>
</div>

{% if message != "" %}
<h4>Messages</h4>
<p>{{message}}</p>
{%- endif %}

<br>

{% include "footer.html" %}