{% include "header.html" %}

<h2>欢迎来到 MicroBin !</h2>
<div style="height: 200px;">
  <div style="float: left">
    <h4>链接</h4>
    <a href="https://microbin.eu/documentation" style="margin-right: 1rem">文档 和 帮助</a>
    <br>
    <a href="https://github.com/szabodanika/microbin" style="margin-right: 1rem">项目源码</a>
    <br>
    <a href="https://github.com/szabodanika/microbin/issues" style="margin-right: 1rem">反馈意见</a>
    <br>
    <a href="https://microbin.eu/donate">捐赠 和 帮助</a>
  </div>

  <div style="float: right">
    <h4>信息</h4>
    <table style="width: 400px">
      <tr>
        <td><b>版本</b></td>
        <td>{{version_string}} </td>
      </tr>
      <tr>
        <td><b>状态</b></td>
        <td>{{status}} </td>
      </tr>
      <tr>
        <td><b>粘贴</b></td>
        <td>{{pastas.len()}} </td>
      </tr>
    </table>
  </div>
</div>

{% if message != "" %}
<h4>信息</h4>
<p>{{message}}</p>
{%- endif %}

<br>

{% include "footer.html" %}