{% include "header.html" %}

<div style="float: left">
  <a href="{{ args.public_path_as_str() }}/upload/{{pasta.id_as_animals()}}">Back to Upload</a>
</div>


<div style="text-align: center; padding: 3rem;">
  {% if pasta.pasta_type == "url" %}
  <a href="{{ args.public_path_as_str() }}/url/{{pasta.id_as_animals()}}">
    {{qr}}
  </a>
  {% else %}
  <a href="{{ args.public_path_as_str() }}/upload/{{pasta.id_as_animals()}}">
    {{qr}}
  </a>
  {% endif %}
</div>

<style>
  .copy-text-button,
  .copy-url-button {
    font-size: small;
    padding: 4px;
    width: 6rem;
  }
</style>

{% include "footer.html" %}